{% extends 'index.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}{{ article.article_title }}{% endblock %}

{% block article %}

    <div class="container">
        <div class="mt-1">
            <h1 style="color: #62B7B9" class="mb-0">{{ article.article_title }}</h1>
            <small class="text-muted my-0 py-0">{{ article.article_date }}</small>
            <p class="mt-2">{{ article.article_text }}</p>
        </div>

        <div class="container">
            <h3 style="color: #62B7B9">Комментарии:</h3>
            {% if comments %}
                {% if comments|length <= 5 %}
                    <div id="if_length5">
                        {% for comment in comments %}
                            <p style="margin-top: 0;margin-bottom: 0; color: #62B7B9;">{{ comment.comments_author }}</p>
                            <p style="margin-bottom: 0;">{{ comment.comments_text }}</p>
                            <small class="text-muted mt-0">{{ comment.comments_date }}</small>
                            <hr style="margin-bottom: 6px;margin-top: 4px;">
                        {% endfor %}
                    </div>
                {% else %}
                    <div id="else_length">
                        <button onclick="show_all()" id="show_comments" type="button"
                                class="btn btn-outline-info w-100 mb-2">
                            Show all {{ comments|length }} comments
                        </button>
                        {% for comment in comments|reverse_last_five %}
                            <p style="margin-top: 0;margin-bottom: 0; color: #62B7B9;">{{ comment.comments_author }}</p>
                            <p style="margin-bottom: 0;">{{ comment.comments_text }}</p>
                            <small class="text-muted mt-0">{{ comment.comments_date }}</small>
                            <hr style="margin-bottom: 6px;margin-top: 4px;">
                        {% endfor %}
                    </div>
                    <div id="disp-none-first" class="d-none">
                        {% for comment in comments %}
                            <p style="margin-top: 0;margin-bottom: 0; color: #62B7B9;">{{ comment.comments_author }}</p>
                            <p style="margin-bottom: 0;">{{ comment.comments_text }}</p>
                            <small class="text-muted mt-0">{{ comment.comments_date }}</small>
                            <hr style="margin-bottom: 6px;margin-top: 4px;">
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <p class="text-muted">Комментариев нет</p>
            {% endif %}

            {% if user.username %}
                <form style="margin-top: 15px" action="/article/addcomment/{{ article.id }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="comment" class="form-control">
                        <button type="button" class="btn btn-outline-info mt-2">Add comment</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        function show_all(e) {
            $("#else_length").addClass('d-none');
            $("#disp-none-first").removeClass('d-none');
        }
    </script>
{% endblock %}